<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='col-md-offset-2'></div>
      <div class='form-devise'>

        <h2 class='form-devise-heading'>Re-confirmation</h2>

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

          <%= devise_error_messages! %>

          <div class='form-group'>
            <div class='field'>
              <%= f.label :email %>
              <div class='clearfix'></div>
              <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control', placeholder: 'Enter Email Address' %>
            </div>
          </div>

          <div class='form-group'>
            <div class='actions'>
              <%= f.submit 'Resend confirmation instructions', class: 'btn btn-lg btn-primary center-block' %>
            </div>
          </div>

        <% end %>

        <div class='clearfix'></div>
        <%= render 'users/shared/links' %>

      </div>
    </div>
  </div>
</div>
