<%= nested_form_for @movie, html: { multipart: true, class: 'form-horizontal'} do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, maxlength: 150, size: 15, required: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description, rows: 10 %>
  </div>
  <%= f.select :genre, options_for_select(Movie::GENRES.map {|genre| [genre.titleize, genre]}), {} %>
  <div class="field">
    <%= f.label :release_date %><br>
    <%= f.datetime_select :release_date %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :trailer %><br>
    <%= f.text_field :trailer %>
  </div>
  <div class="form-actions">
    <%= f.label :attachments %>
    <%= f.fields_for :attachments do |attachment| %>
      <%= attachment.file_field :image %>
      <%= attachment.link_to_remove "Remove this attachment" %>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.link_to_add "Add new attachment", :attachments %>
  </div>
  <%= f.select :actor_ids, options_for_select(@all_movie_actors, @selected_movie_actors), {}, { multiple: true } %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
