<div class='form-search'>
  <%= form_tag '/movies', method: 'get', class: 'form-inline' do %>
    <div class='form-group'>
      <div class='field'>
        <%= label_tag :title %>
        <div class='clearfix'></div>
        <%= text_field_tag :title, nil, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <div class='field'>
        <%= label_tag :release_date_start, 'Release Date Start' %>
        <div class='clearfix'></div>
        <%= date_field_tag :release_date_start, nil, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <div class='field'>
        <%= label_tag :release_date_end, 'Release Date End' %>
        <div class='clearfix'></div>
        <%= date_field_tag :release_date_end, nil, class: 'form-control' %>
      </div>
    </div>

    <div class='form-group'>
      <div class='field'>
        <%= label_tag :actor %>
        <div class='clearfix'></div>
        <%= select_tag :actor, options_for_select(@all_actors), { include_blank: 'Select Actor' } %>
      </div>
    </div>

    <div class='form-group'>
      <div class='field'>
        <%= label_tag :genre %>
        <div class='clearfix'></div>
        <%= select_tag :genre, options_for_select(Movie::GENRES.map { |genre| [genre.titleize, genre] }), { include_blank: 'Select Genre' } %>
      </div>
    </div>

    <div class='form-group margin-padded-space'>
        <span class='glyphicon glyphicon-search'></span>
        <%= submit_tag 'Search', class: 'btn btn-lg btn-primary' %>
    </div>
  <% end %>
</div>
