<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= title_titleize(@movie.title) %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @movie.description %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= raw @movie.trailer %>
</p>

<p>
  <strong>Posters:</strong>
</p>

<%= render partial: "posters", locals: { posters: @movie.attachments } %>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
