<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= title_titleize(@movie.title) %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @movie.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre.titleize %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= raw @movie.trailer %>
</p>

<p>
  <strong>Posters:</strong>
</p>

<%= render partial: "posters", locals: { posters: @movie.attachments } %>

<p>
  <strong>Cast:</strong>
</p>

<%= render partial: "actors", locals: { movie_actors: @movie.actors } %>

<br/>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
