<div class='container movie-show'>
  <div class='row'>
    <div class='movie-details'>
      <div class='col-md-12'>
        <div class='col-md-offset-1'></div>
        <div class='show-movie'>

          <div class='movie-name'>
            <div class='text-center'>
              <h1><%= title_titleize(@movie.title) %></h1>
            </div>
          </div>

          <div class='clearfix'></div>
          <div class='col-md-5'>

            <div>
              <h2>Posters:</h2>
              <%= render partial: 'poster', locals: { poster: @movie.attachments.first } %>
            </div>

            <div>
              <%= render partial: 'posters', locals: { posters: @movie.attachments } %>
            </div>

          </div>

          <div class='col-md-5'>

            <div class='movie-info'>
              <h2>Title:</h2>
              <%= title_titleize(@movie.title) %>
            </div>

            <div class='movie-info'>
              <h2>Genre:</h2>
              <%= @movie.genre.titleize %>
            </div>

            <div class='movie-info'>
              <h2>Duration:</h2>
              <%= @movie.duration %> minutes
            </div>

            <div class='movie-info'>
              <h2>Release Date:</h2>
              <%= @movie.release_date %>
            </div>

            <div class='movie-info'>
              <h2>Cast:-</h2>
            </div>
            <div>
              <%= render partial: 'actors', locals: { movie_actors: @movie.actors } %>
            </div>

          </div>

        </div>
      </div>

      <div class='col-md-12'>
        <div class='col-md-offset-1'></div>
          <div class='show-movie'>
            <div class='col-md-10'>

              <div class='movie-info'>
                <h2>Description:-</h2>
                <%= raw @movie.description %>
              </div>

              <% if @movie.trailer.present? %>
                <div>
                  <h2>Trailer:</h2>
                </div>
                <div class='embed-responsive embed-responsive-16by9'>
                  <%= raw @movie.trailer %>
                </div>
              <% end %>

              <div>
                <h2>Movie Rating:</h2>
                <div class='avg-star-rating' data-score='<%= @average_rating %>'></div>
              </div>

              <% if user_signed_in? %>
                <div>
                  <h2>Rate This Movie:</h2>
                  <div class='star-rating' data-score='<%= @rating_score %>'></div>
                </div>
              <% end %>

              <% if user_signed_in? %>
                <div>
                  <h2>Add Review:</h2>
                  <%= render partial: 'reviews/form', locals: { remote_form: true } %>
                </div>
              <% end %>

              <div>
                <h2>Reviews:</h2>
                <div id='reviews-container'>
                  <%= render @reviews %>
                </div>
              </div>

            </div>
          </div>
        </div>

    </div>

    <div class='col-md-12'>
      <div class='col-md-offset-1'></div>
      <div class='show-movie'>
        <div class='col-md-10'>

          <div>
            <%= link_to 'Edit', edit_movie_path(@movie) %> |
            <%= link_to 'Back', movies_path %>
          </div>

       </div>
      </div>
    </div>


    <div class='margin-padded-space'>
      <div class='text-center'>
        <%= paginate @reviews %>
      </div>

      <div class='text-center'>
        <%= page_entries_info @reviews %>
      </div>
    </div>

  </div>
</div>

<% if user_signed_in? %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :movie_id, @movie.id %>
  <%= hidden_field_tag :rating_id, @rating.id %>
<% end %>
