<div class='container'>
  <div class='row'>
    <div>
      <div class='col-md-12'>
        <div class='col-md-offset-1'></div>
        <div class='show-movie'>

          <div class='movie-name'>
            <div class='text-center'>
              <%= title_titleize(@movie.title) %>
            </div>
          </div>

          <div class='clearfix'></div>
          <div class='col-md-6'>

            <div>
              <strong>Posters:</strong>
              <%= image_tag @movie.attachments.first.image.url(:large) %>
            </div>

            <div>
              <%= render partial: 'posters', locals: { posters: @movie.attachments } %>
            </div>

          </div>

          <div class='col-md-4'>

            <div class='movie-info'>
              <strong>Title:</strong>
              <%= title_titleize(@movie.title) %>
            </div>

            <div class='movie-info'>
              <strong>Genre:</strong>
              <%= @movie.genre.titleize %>
            </div>

            <div class='movie-info'>
              <strong>Duration:</strong>
              <%= @movie.duration %>minutes
            </div>

            <div class='movie-info'>
              <strong>Release Date:</strong>
              <%= @movie.release_date %>
            </div>

            <div class='movie-info'>
              <strong>Cast:-</strong>
            </div>
            <div>
              <%= render partial: 'actors', locals: { movie_actors: @movie.actors } %>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div>

      <div class='col-md-12'>
        <div class='col-md-offset-1'></div>
          <div class='show-movie'>
            <div class='col-md-10'>

              <div class='movie-info'>
                <strong>Description:-</strong>
                <%= raw @movie.description %>
              </div>

              <div>
                <strong>Trailer:</strong>
              </div>
              <div>
                <%= raw @movie.trailer %>
              </div>

            </div>
          </div>
        </div>

      <div class='col-md-12'>
        <div class='col-md-offset-1'></div>
          <div class='show-movie'>
            <div class='col-md-10'>

            <div>
              <%= link_to 'Edit', edit_movie_path(@movie) %> |
              <%= link_to 'Back', movies_path %>
            </div>

            </div>
          </div>
        </div>

    </div>

  </div>
</div>
