<div class='container'>
  <div class='row'>
    <div class='user-details'>
      <div class='col-md-12'>
        <div class='col-md-offset-1'></div>
        <div class='row'>
          <div class='col-md-12 col-sm-10 col-xs-8 user-profile'>
            <div class='user-name'>
              <div class='text-center'>
                <h1><%= title_titleize(@user.email) %></h1>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 user-profile'>
            <div class='col-md-4'>
              <%= render partial: 'profile_picture', locals: { picture: @user.attachment } %>
            </div>

            <% if @user_favorites.present? %>
              <div class='col-md-8 margin-padded-space'>
                <div class='margin-padded-space text-center'><h2>Favorite Movies</h2></div>
                <%= render partial: 'favorite_movies', locals: { movies: @user_favorites } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='margin-padded-space'>
    <div class='text-center'>
      <%= paginate @user_favorites %>
    </div>
     <div class='text-center'>
      <%= page_entries_info @user_favorites %>
    </div>
  </div>
</div>
