<div class='page-header header-content'>
  <div class='header-div'>

    <div class='navbar navbar-inverse margin-padded-space' role='navigation'>
      <div class='navbar-text pull-left'>
        <span class='glyphicon glyphicon-home'></span>
        <%= link_to 'Home', root_path, class: 'navbar-link' %> |
        <%= link_to 'New Movie', new_movie_path, class: 'navbar-link' %> |
        <span class='glyphicon glyphicon-search'></span>
        <%= link_to 'Movies', movies_path, class: 'navbar-link' %>
      </div>

      <div class='navbar-text pull-right'>
        <% if user_signed_in? %>
          <strong><%= link_to current_user.email, current_user %></strong> |
          <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %> |
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-link' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'navbar-link' %> |
          <%= link_to 'Sign up', new_user_registration_path, class: 'navbar-link' %>
        <% end %>
      </div>
    </div>

    <div align='center'>
      <span id='site-title'>
        <strong>Movie Review System</strong>
      </span>
      <%= link_to image_tag('shared/movie-camera.png', size: '100x75', class: 'img-responsive'), movies_path %>
    </div>

    <div class='margin-padded-space'></div>

    <div class='advance-search'>
      <%= render 'shared/search' %>
    </div>

  </div>
</div>

<div class='flash-msg'>
  <%= render 'shared/flash' %>
</div>
