<div class='page-header header-content'>
  <nav class='navbar navbar-inverse' role='navigation'>
    <div class='row'>
      <div class='navbar-header col-md-3'>
        <%= render 'shared/search' %>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-menubuilder'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </div>
      <div class='col-md-9'>
        <div class='collapse navbar-collapse navbar-menubuilder'>
          <ul class='nav navbar-nav pull-right'>
            <li><%= link_to 'Home', root_path, class: 'navbar-link' %></li>
            <li><%= link_to 'Movies', movies_path, class: 'navbar-link' %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'New Movie', new_movie_path, class: 'navbar-link' %></li>
              <li><%= link_to current_user.email, current_user %></li>
              <li><%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path, class: 'navbar-link' %></li>
              <li><%= link_to 'Sign up', new_user_registration_path, class: 'navbar-link' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>

    <div align='center'>
      <span id='site-title'>
        <strong>Movie Review System</strong>
      </span>
      <%= link_to image_tag('shared/movie-camera.png', size: '100x75', class: 'img-responsive'), movies_path %>
    </div>

    <div class='margin-padded-space'></div>

</div>

<div class='flash-msg'>
  <%= render 'shared/flash' %>
</div>
