<% title 'Home' %>
<div class='container'>
  <div class='text-center home-heading'>
    <h1>Welcome to Movie Review System!</h1>
  </div>

  <% if movies_available?(@featured_movies, @latest_movies, @top_movies) %>
    <% if @featured_movies.present? %>
      <div class='margin-padded-space'>
        <div class='text-center'>
          <div class='movie-name'>
            <h2>Featured Movies</h2>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 offset-2'>
          <div>
            <%= render partial: 'movies', locals: { movies: @featured_movies } %>
          </div>
        </div>
      </div>

      <div class='margin-padded-space'></div>
      <div class='text-center' align='center'>
        <%= link_to 'View All', movies_path(filter: 'featured'), class: 'btn btn-mini btn-info' %>
      </div>

      <hr/>
    <% end %>

    <% if @latest_movies.present? %>
      <div class='margin-padded-space'>
        <div class='text-center'>
          <div class='movie-name'>
            <h2>Latest Movies</h2>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 offset-2'>
          <div>
            <%= render partial: 'movies', locals: { movies: @latest_movies } %>
          </div>

        </div>
      </div>

      <div class='margin-padded-space'></div>
      <div class='text-center' align='center'>
        <%= link_to 'View All', movies_path(filter: 'latest'), class: 'btn btn-mini btn-info' %>
      </div>

      <hr/>
    <% end %>

    <% if @top_movies.present? %>
      <div class='margin-padded-space'>
        <div class='text-center'>
          <div class='movie-name'>
            <h2>Top Movies</h2>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 offset-2'>
          <div>
            <%= render partial: 'movies', locals: { movies: @top_movies } %>
          </div>
        </div>
      </div>

      <div class='margin-padded-space'></div>
      <div class='text-center' align='center'>
        <%= link_to 'View All', movies_path(filter: 'top'), class: 'btn btn-mini btn-info' %>
      </div>

      <hr/>
    <% end %>
  <% else %>
    <div class='margin-padded-space'>
      <div class='text-center'>
        No Movie To Show Yet.
      </div>
    </div>
  <% end %>

</div>
